<div class="cover glass campaigns">
    <div class="campaignSelector">
        <div class="campaignSelectorBox">
            
            <div class="campaignList"></div>
            <!-- <table>
                <tr>
                    <td>
                        A hidden table
                    </td>
                    <td>
                        <button type='button' data-load='1' class='btn btn-primary campLoad'>Load</button>
                        <button type='button' data-delete='1' class='btn btn-primary campDelete'>Delete</button></td>
                    </td>
                </tr>
            </table> -->
            <button type="button" class="campAdd">+</button>
        </div>
        <div class="campaignButtons">
            <div class="newButton closeCampWindow" >Close this window</div>
            <!-- <div class="loadButton campaignButton" data-campaign="load">Load Campaign</div> -->
        </div>


    </div>
</div>