<div class="cover glass">
    <div class="campaignSelector">
        <div class="campaignSelectorBox">
            Create a new campaign
            <table>
                <tr>
                    <td>
                        A hidden table
                    </td>
                    <td>
                        <button type='button' data-load='1' class='btn btn-primary campLoad'>Load</button>
                        <button type='button' data-delete='1' class='btn btn-primary campDelete'>Delete</button></td>
                    </td>
                </tr>
            </table>
        </div>
        <div class="campaignButtons">
            <div class="newButton campaignButton" data-campaign="new">New Campaign</div>
            <div class="loadButton campaignButton" data-campaign="load">Load Campaign</div>
        </div>


    </div>
</div>