<div class="callout text-center charSheet drag">

    <div class="ability-box">
        <label><span data-tooltip tabindex="1" title="Strength is your natural athleticism, bodily power">STR</span></label>
        <input class="ability" type="text" value="10" maxlength="2" />
        <span class="badge badge-secondary modifier-bubble">0</span>
    </div>
    <div class="ability-box">
        <label><span data-tooltip tabindex="2" title="Dexterity measures physical agility, reflexes, balance, poise">DEX</span></label>
        <input class="ability" type="text" value="10" maxlength="2" />
        <span class="badge badge-secondary modifier-bubble">0</span>
    </div>
    <div class="ability-box">
        <label><span data-tooltip tabindex="3" title="Constitution is your health, stamina, vital force">CON</span></label>
        <input class="ability" type="text" value="10" maxlength="2" />
        <span class="badge badge-secondary modifier-bubble">0</span>
    </div>
    <div class="ability-box">
        <label><span data-tooltip tabindex="4" title="Intelligence is mental acuity, information recall, analytical skill">INT</span></label>
        <input class="ability" type="text" value="10" maxlength="2" />
        <span class="badge badge-secondary modifier-bubble">0</span>
    </div>
    <div class="ability-box">
        <label><span data-tooltip tabindex="5" title="Wisdom measures awareness, intuition, insight">WIS</span></label>
        <input class="ability" type="text" value="10" maxlength="2" />
        <span class="badge badge-secondary modifier-bubble">0</span>
    </div>
    <div class="ability-box">
        <label><span data-tooltip tabindex="6" title="Charisma is confidence, eloquence, leadership">CHA</span></label>
        <input class="ability" type="text" value="10" maxlength="2" />
        <span class="badge badge-secondary modifier-bubble">0</span>
    </div>

</div>
