<div class="charSheet drag bg-light rounded shadow-sm">
    <section class="information">
        <div class="info">
            <input id="charName" type="text" />
            <label for="charName">Character Name</label>
        </div>
        <div class="info">
            <input id="race" type="text" />
            <label for="race">Race</label>
        </div>
        <div class="info">
            <input id="xp" type="text" style="width:8em;" />
            <label for="xp">Experience Points</label>
        </div>
        <div class="info">
            <input id="level" type="text" style="width:2em; text-align:center;" />
            <label for="level">Level</label>
        </div>
        <div class="info">
            <input id="class" type="text" />
            <label for="class">Class</label>
        </div>
        <div class="info">
            <input id="background" type="text" />
            <label for="background">Background</label>
        </div>
        <div class="info">
            <input id="alignment" type="text" />
            <label for="alignment">Alignment</label>
        </div>

        <div class="info">
            <input id="playerName" type="text" />
            <label for="playerName">Player Name</label>
        </div>
    </section>

    <section class="charCol abilities">
        <div class="ability-box">
            <label for="str" title="Strength is your natural athleticism, bodily power">STR</label>
            <input id="str" class="ability" type="text" value="10" maxlength="2" />
            <div class="badge badge-secondary badge-pill modifier-bubble">0</div>
        </div>
        <div class="ability-box">
            <label for="dex" title="Dexterity measures physical agility, reflexes, balance, poise">DEX</label>
            <input id="dex" class="ability" type="text" value="10" maxlength="2" />
            <div class="badge badge-secondary badge-pill modifier-bubble">0</div>
        </div>
        <div class="ability-box">
            <label for="con" title="Constitution is your health, stamina, vital force">CON</label>
            <input id="con" class="ability" type="text" value="10" maxlength="2" />
            <div class="badge badge-secondary badge-pill modifier-bubble">0</div>
        </div>
        <div class="ability-box">
            <label for="int" title="Intelligence is mental acuity, information recall, analytical skill">INT</label>
            <input id="int" class="ability" type="text" value="10" maxlength="2" />
            <div class="badge badge-secondary badge-pill modifier-bubble">0</div>
        </div>
        <div class="ability-box">
            <label for="wis" title="Wisdom measures awareness, intuition, insight">WIS</label>
            <input id="wis" class="ability" type="text" value="10" maxlength="2" />
            <div class="badge badge-secondary badge-pill modifier-bubble">0</div>
        </div>
        <div class="ability-box">
            <label for="cha" title="Charisma is confidence, eloquence, leadership">CHA</label>
            <input id="cha" class="ability" type="text" value="10" maxlength="2" />
            <div class="badge badge-secondary badge-pill modifier-bubble">0</div>
        </div>
    </section>

    <section class="charCol savesAndSkills">
        <section class="inspiration">
            <input id="insp" type="text" />
            <label for="insp">Inspiration</label>
        </section>
        <section class="profBonus">
            <input id="profBonus" type="text" />
            <label for="profBonus">Proficiency Bonus</label>
        </section>
        <section class="savingThrows">
            <div class="save">
                <svg class="icon radio-on" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path class="circle" d="M256 76c48.1 0 93.3 18.7 127.3 52.7S436 207.9 436 256s-18.7 93.3-52.7 127.3S304.1 436 256 436c-48.1 0-93.3-18.7-127.3-52.7S76 304.1 76 256s18.7-93.3 52.7-127.3S207.9 76 256 76m0-28C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48z"/>
                    <path class="dot" d="M363.5 148.5C334.8 119.8 296.6 104 256 104c-40.6 0-78.8 15.8-107.5 44.5C119.8 177.2 104 215.4 104 256s15.8 78.8 44.5 107.5C177.2 392.2 215.4 408 256 408c40.6 0 78.8-15.8 107.5-44.5C392.2 334.8 408 296.6 408 256s-15.8-78.8-44.5-107.5z"/>
                </svg>
                <label for="saveStr">Strength</label>
                <input id="saveStr" type="text" />
            </div>
            <div class="save">
                <img class="icon" src="/assets/img/svg/ios-radio-button-on.svg" />
                <label for="saveDex">Strength</label>
                <input id="saveDex" type="text" />
            </div>
            <div class="save">
                <input id="speed" type="text" />
                <label for="speed">Speed</label>
            </div>
            <div class="save">
                <input id="hpMax" type="text" />
                <label for="hpMax">Hit Point Maximum</label>
            </div>
            <div class="save">
                <input id="hpCurrent" type="text" />
                <label for="hpCurrent">Current Hit Points</label>
            </div>
            <div class="save">
                <input id="hpTemp" type="text" />
                <label for="hpTemp">Temporary Hit Points</label>
            </div>
            <div class="save">
                <input id="hitDice" type="text" />
                <label for="hitDice">Hit Dice</label>
            </div>
        </section>

    </section>

    <section class="charCol statistics">
        <div class="stat">
            <input id="armorClass" type="text" />
            <label for="armorClass">Armor Class</label>
        </div>
        <div class="stat">
            <input id="initiative" type="text" />
            <label for="initiative">Initiative</label>
        </div>
        <div class="stat">
            <input id="speed" type="text" />
            <label for="speed">Speed</label>
        </div>
        <div class="stat">
            <input id="hpMax" type="text" />
            <label for="hpMax">Hit Point Maximum</label>
        </div>
        <div class="stat">
            <input id="hpCurrent" type="text" />
            <label for="hpCurrent">Current Hit Points</label>
        </div>
        <div class="stat">
            <input id="hpTemp" type="text" />
            <label for="hpTemp">Temporary Hit Points</label>
        </div>
        <div class="stat">
            <input id="hitDice" type="text" />
            <label for="hitDice">Hit Dice</label>
        </div>
        <div class="stat">
            <input id="hitDiceTotal" type="text" />
            <label for="hitDiceTotal">Total Hit Dice</label>
        </div>
    </section>

<div class="charCol">
    <section class="attacks">
        <div class="atk">
            <input id="atkName" type="text" />
        </div>
        <div class="atk">
            <input id="atkBonus" type="text" />
        </div>
        <div class="atk">
            <input id="atkDamage" type="text" />
        </div>
        <div class="atk">
            <input id="atkType" type="text" />
        </div>
    </section>

    <section class="equipment">
        <div class="equip">
            <input id="eqName" type="text" />
        </div>
        <div class="equip">
            <input id="eqQty" type="text" />
        </div>
    </section>
</div>

    <section class="charCol about">
        <div class="stat">
            <input id="armorClass" type="text" />
            <label for="armorClass">Armor Class</label>
        </div>
        <div class="stat">
            <input id="initiative" type="text" />
            <label for="playerName">Initiative</label>
        </div>
        <div class="stat">
            <input id="speed" type="text" />
            <label for="speed">Speed</label>
        </div>
        <div class="stat">
            <input id="hpMax" type="text" />
            <label for="hpMax">Hit Point Maximum</label>
        </div>
        <div class="stat">
            <input id="hpCurrent" type="text" />
            <label for="hpCurrent">Current Hit Points</label>
        </div>
        <div class="stat">
            <input id="hpTemp" type="text" />
            <label for="hpTemp">Temporary Hit Points</label>
        </div>
        <div class="stat">
            <input id="hitDice" type="text" />
            <label for="hitDice">Hit Dice</label>
        </div>
        <div class="stat">
            <input id="hitDiceTotal" type="text" />
            <label for="hitDiceTotal">Total Hit Dice</label>
        </div>

</div>
