<div class="library-container drag bg-light rounded-sm border shadow">
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="textSize">
        <button type="button" class="btn btn-light" id="font-size-down" aria-label="Shrink Text"><span aria-hidden="true">T&minus;</span></button>
        <button type="button" class="btn btn-light" id="font-size-reset" aria-label="Enlarge Text"><span aria-hidden="true">T</span></button>
        <button type="button" class="btn btn-light" id="font-size-up" aria-label="Enlarge Text"><span aria-hidden="true">T&plus;</span></button>
    </div>
    <br clear="all"/>
    LIBRARY
    <div class="bookList">
        
    </div>
</div>