<div class="menu ">
    <button type="button" class="btn btn-light" data-open="charSheet"><svg><use xlink:href="#people"></use></svg></button><br>
    <button type="button" class="btn btn-light" data-open="library-container"><svg><use xlink:href="#books"></use></svg></button><br>
    <button type="button" class="btn btn-light" data-open="themes-container"><svg><use xlink:href="#themes"></use></svg></button><br>
    <button type="button" class="btn btn-light" data-open="npc"><svg><use xlink:href="#orc"></use></button><br>
    <button type="button" class="btn btn-light attribution-btn" data-open="attribution-container"><svg><use xlink:href="#beer"></use></svg></button><br>
</div>
