<div class="menu ">
    <button type="button" data-open="charSheet" class="btn btn-light players-btn"><svg><use xlink:href="#people"></use></svg></button><br>
    <button type="button" data-open="library-container" class="btn btn-light library-btn"><svg><use xlink:href="#books"></use></svg></button><br>
    <button type="button" data-open="themes-container" class="btn btn-light themes-btn"><svg><use xlink:href="#themes"></use></svg></button><br>
    <button type="button" data-open="npc" class="btn btn-light"><svg><use xlink:href="#orc"></use></button><br>
    <button type="button" data-open="attribution-container" class="btn btn-light attribution-btn"><svg><use xlink:href="#beer"></use></svg></button><br>
</div>
