<div class="styler-container">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <section class="styler" role="presentation">
        <button class="btn btn-light btn-sm" id="default">Default</button>
        <button class="btn btn-light btn-sm" id="light">Light</button>
        <button class="btn btn-light btn-sm" id="black">Black</button>
        <button class="btn btn-light btn-sm" id="gray">Gray</button>
        <button class="btn btn-light btn-sm" id="red">Red</button>
    </section>

</div>
