<div class="themes-container drag rounded-sm border shadow">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <section class="themes-buttons" role="presentation">
        <button class="btn btn-light btn-sm theme-default" id="default"> </button>
        <button class="btn btn-light btn-sm theme-light" id="light"> </button>
        <button class="btn btn-light btn-sm theme-black" id="black"> </button>
        <button class="btn btn-light btn-sm theme-gray" id="gray"> </button>
        <button class="btn btn-light btn-sm theme-red" id="red"> </button>
    </section>

</div>
