.attribution-container {
    display: none;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 500px;
    background-color: white;
    padding: 1em;
    cursor: default;

    .main {
        margin: 1em 0;

        small {
            font-size: 0.5em;
            line-height: 0.5em;
        }
    }

    .credits {
        margin: 1em 0;
        font-size: 0.75em;
        line-height: 1.5em;
    }
}
