.charSheet{
    display:block;
    position:relative;
    width:600px;
    background-color:white;
    padding:1em;

    .charCol {
        display:inline-block;
        position:relative;
    }
    .icon {
        width:1em;
        height:1em;
        fill:$gray-600;
        stroke-width:15px;

        .radio-on {
            .dot {
                fill: $red;
            }
        }
    }
    .information {
        display:block;
    }
    .info {
        margin: 0.5rem 0.5rem 0 0;
        display:inline-block;
        input {
            border-width: 0 0 1px 0;
            border-color: $gray-400;
            font-size:0.75em;
        }
        label {
            margin: 0.2em auto 0;
            font-size:0.65em;
            line-height:1em;
            display:block;
        }
    }
    .abilities {
        width:100px;
    }
    .ability-box {
        text-align: center;
        position: relative;
        margin: 0 auto 0.25rem;
        label {
            margin: 0 auto;
            font-size:0.65em;
            line-height:1em;
            display:block;
        }
        input {
            width: 2.7em;
            height: 2.7em;
            margin: 0 auto;
            text-align: center;
            padding:0 0.2em 1em;
            font-size:0.7em;
        }
        .modifier-bubble {
            display:block;
            margin: 0 auto;
            width: 2.5em;
            text-align: center;
            transform: translateX(50%);
            transform: translateY(-50%);
            font-size:0.75em;
            font-weight: bold;
        }
    }
    .savesAndSkills {
        width:200px;
        label {
            margin: 0.2em auto 0;
            font-size:0.65em;
            line-height:1em;
            display:block;
        }
    }
    .savingThrows {
        input {
            width: 2em;
            font-size:0.6em;
            text-align: center;
        }
        label {
            display:inline-block;
        }
    }
    .statistics {
        width:200px;
        label {
            margin: 0.2em auto 0;
            font-size:0.65em;
            line-height:1em;
            display:block;
        }
    }
}
