.library-container {
    display: none;
    position: absolute;
    top: 88px;
    left: 5px;
    width: 500px;
    background-color: $white;
    padding: 1em;
}

.bookList{
    .list-group{
        .bList{
            .bName{
                
                
            }
            .bButtons{
                .unload{
                    display:none;
                }
             }
        }
    }
    
}
 