.textSize {
    height:20px;
    line-height:0px;
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    left:5px;
    .btn {
        width:20px !important;
        height:20px !important;
        font-size:10px !important;
        line-height:14px !important;
        padding:2px !important;
        margin:0 !important;
        &:focus, &:active, &.focus, &.active {
            box-shadow:none;
        }
    }
}
