.themes-container {
    display: none;
    position: absolute;
    top: 153px;
    left: 5px;
    width: 200px;
    background-color: $white;
    padding: 0.5em;

    .btn {
        background-size: cover;
        height:2em;
        width:2em;
        margin:5px;
    }
}

.theme-default {
    background-image: url("/assets/img/leather-pattern.jpg");
    .menu {
        .btn {
            background-color: rgba(255,255,255,0.15);
            border-color: rgba(0,0,0,0.75);
            &:hover {
                background-color: rgba(255,255,255,0.35);
            }
            svg {
                fill: $black;
            }
        }
    }
}

.theme-worn {
    background-image: url("/assets/img/leather.jpg");
    .menu {
        .btn {
            background-color: rgba(255,255,255,0.15);
            border-color: rgba(0,0,0,0.75);
            &:hover {
                background-color: rgba(255,255,255,0.35);
            }
            svg {
                fill: $black;
            }
        }
    }
}

.theme-light {
    background-image: url("/assets/img/leather-pattern-light.jpg");
    .menu {
        .btn {
            background-color: rgba(255,255,255,0.15);
            border-color: rgba(0,0,0,0.75);
            &:hover {
                background-color: rgba(255,255,255,0.35);
            }
            svg {
                fill: $black;
            }
        }
    }
}

.theme-black {
    background-image: url("/assets/img/leather-pattern-black.jpg");
    .menu {
        .btn {
            background-color: rgba(255,255,255,0.15);
            border-color: rgba(0,0,0,0.75);
            &:hover {
                background-color: rgba(255,255,255,0.35);
            }
            svg {
                fill: $gray-100;
            }
        }
    }
}

.theme-gray {
    background-image: url("/assets/img/leather-pattern-gray.jpg");
    .menu {
        .btn {
            background-color: rgba(255,255,255,0.15);
            border-color: rgba(0,0,0,0.75);
            &:hover {
                background-color: rgba(255,255,255,0.35);
            }
            svg {
                fill: $black;
            }
        }
    }
}

.theme-red {
    background-image: url("/assets/img/leather-pattern-red.jpg");
    .menu {
        .btn {
            background-color: rgba(0,0,0,0.15);
            border-color: rgba(200,150,0,0.75);
            svg {
                fill: rgba(180,110,0,.5);
            }
            &:hover {
                background-color: rgba(0,0,0,0.35);
                svg {
                    fill: rgba(180,110,0,.95);
                }
            }

        }
    }
}
