
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "customVariables";
@import "helper";
@import "charSheet";
@import "mainBody";
@import "onTop";
@import "menu";
@import "attribution";
@import "library";
@import "themes";
@import "npc";
<<<<<<< HEAD
@import "textSize";
=======
@import "campaignSelector";

>>>>>>> master

body {
    background-color: #432F20;
    background-size: cover;
    transition: background 0.5s ease;
}
