
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import 'customVariables';
@import 'charSheet';
@import 'styler';


body {
    background-size: canvas;
}

@media (min-width: 992px) {

}


.hammer{
    background-color:red;
    cursor:pointer;
}
