

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    
</head>

<body style="background-image: url('{{root}}assets/img/leather.jpg');">


    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{> body}}

    
    <!-- <script src="{{root}}assets/js/libs/jquery.js"></script>
    <script src="{{root}}assets/js/libs/jquery-ui.min.js"></script>
    <script src="{{root}}assets/js/libs/popper.js"></script>
    <script src="{{root}}assets/js/libs/bootstrap.js"></script>
    <script src="{{root}}assets/js/libs/require.js"></script> -->
    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>
